.profile {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    border-radius: 15px;
    background-color: white;
    width: 1008px;
    height: 635px;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}
.box{
    display: flex;
    flex-direction: column;
    width: 243px;
    height: 635px;
}
.prof{
    text-align: center;
}
.prof img{
    border-radius: 50%;
}
