body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    background: rgb(34,141,195);
    background: linear-gradient(45deg, rgba(34,141,195,1) 0, rgba(45,253,173,1) 80%);
}
